$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

$background: #b3cde0;
$secondary-background: #c9c9c9;
$dark-background: #011f4b;
$light-accent: #6497b1;
$dark-accent: #03396c;
$white: #fff;
$text: rgb(8, 41, 79);
$shadow: #808080;

$heavy-border: 3px solid $text;
$light-border: 1px solid $text;
