<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jonathan Hartman - 507 Project - Movie Thing</title>
  <!-- https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-runs-on-flask -->
  <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
</head>
<body>
  <a href="/AA_Winners">Academy Award Statistics</a>
  <a href="/Ratings">Movie Ratings</a>
  <h1>Academy Award Statistics</h1>
  <form method='post'>
    <label for="sort_by">Sort By:</label>
    <select name="sort_by">
      <option value="wins" {% if sort == 'wins' %} selected {% endif %}>Total Wins</option>
      <option value="noms" {% if sort == 'noms' %} selected {% endif %}>Nominations</option>
    </select>

    <label for="show_nom">Show Nominations</label>
    <input type="checkbox" name="show_nom" {% if show_nom %} checked {% endif %}>

    <label for="count">Records to Show</label>
    <input type="number" name="count" value={{count}} step=10 min=10 max=590>

    <input type="submit" value="Refresh">
  </form>
  {{graph|safe}}
  <table border=1>
    <tr>
      <th>Title</th>
      <th>Release</th>
      <th>Academy Award Wins</th>
      <th>Academy Award Nominations</th>
    </tr>
  {% for row in raw_data %}
    <tr>
      <td><a href="/Movie/{{row[0]}}/{{row[1][:4]}}">{{row[0]}}</a></td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3] + row[2]}}</td>
    </tr>
  {% endfor %}
  </table>
</body>
