<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jonathan Hartman - 507 Project - Movie Thing</title>
  <!-- https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-runs-on-flask -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <a href="/AA_Winners">Academy Award Statistics</a>
    <a href="/Ratings">Movie Ratings</a>
    <a href="/Budget" class="active">Budget</a>
  </nav>
  <h1 class="page-title">Budget</h1>
  <h2>Top Films By Budget/Revenue</h2>
  <form method="POST">
    <div class="form-option">
      <label for="budget_sort">Sort By</label>
      <select name="budget_sort">
        <option value="Budget" {% if budget_sort == 'Budget' %} selected {% endif %} >Highest Budget</option>
        <option value="Revenue" {% if budget_sort == 'Revenue' %} selected {% endif %} >Highest Revenue</option>
      </select>
    </div>
    <div class="form-option">
      <label for="budget_limit">Records to Show</label>
      <input type="number" name="budget_limit" value={{budget_limit}} step=10 min=0 max=160>
    </div>
    <input type="submit" value="Refresh">
  </form>
  <div class="graph">{{budget_graph|safe}}</div>
  <table border=1>
    <tr>
      <th>Title</th>
      <th>Release</th>
      <th>Budget</th>
      <th>Revenue</th>
    </tr>
  {% for row in budget_raw_data %}
    <tr>
      <td><a href="/Movie/{{row[0]}}/{{row[1][:4]}}">{{row[0]}}</a></td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
    </tr>
  {% endfor %}
  </table>
  <h2>Highest Dollars Spent per Star of User Rating</h2>
  <div class="graph">{{dps_graph|safe}}</div>
  <table border=1>
    <tr>
      <th>Title</th>
      <th>Release</th>
      <th>Budget</th>
      <th>Average User Rating</th>
      <th>Dollar Per Star</th>
    </tr>
  {% for row in dps_raw_data %}
    <tr>
      <td><a href="/Movie/{{row[0]}}/{{row[1][:4]}}">{{row[0]}}</a></td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
    </tr>
  {% endfor %}
  </table>
</body>
