<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jonathan Hartman - 507 Project - Movie Thing</title>
  <!-- https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-runs-on-flask -->
  <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <a href="/AA_Winners">Academy Award Statistics</a>
  <a href="/Ratings">Movie Ratings</a>
  <h1>Details for {{title}} ({{year}})</h1>
  {% if ratings_data is iterable %}
  {{boxgraph|safe}}
  {{scattergraph|safe}}
  <button type="button" id="toggle_ratings_data">Show/Hide User Ratings Data</button>
  <div class="ratings_data">
    <table border=1>
      <tr>
        <th>UserID</th>
        <th>Rating</th>
        <th>Timestamp</th>
      </tr>
    {% for row in ratings_data %}
      <tr>
        <td><a href="/User/{{row[0]}}">{{row[0]}}</a></td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% else %}
  <p>No ratings data is available</p>
  {% endif %}
  {% if cast_crew_data is iterable %}
  <button type="button" id="toggle_castcrew_data">Show/Hide Cast and Crew Data</button>
  <div class="castcrew_data">
    <table border=1>
      <tr>
        <th>Name</th>
        <th>Title</th>
      </tr>
    {% for row in cast_crew_data %}
      <tr>
        {% if row[3] is number %}
        <td><a href="/Person/{{row[0]}}">{{row[1]}}</a></td>
        {% else %}
        <td>{{row[1]}}</td>
        {% endif %}
        <td>{{row[2]}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}
  <script>
    $(document).ready(function() {
      $(".ratings_data").hide();
      $(".castcrew_data").hide();

      $("#toggle_ratings_data").click(function() {
        $(".ratings_data").toggle();
      })

      $("#toggle_castcrew_data").click(function() {
        $(".castcrew_data").toggle();
      })
    })
  </script>
</body>
