<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jonathan Hartman - 507 Project - Movie Thing</title>
  <!-- https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-runs-on-flask -->
  <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <a href="/AA_Winners">Academy Award Statistics</a>
  <a href="/Ratings">Movie Ratings</a>
  <a href="/Budget">Budget</a>
  <h1>Details for User ID {{id}}</h1>
  <h3>Average Rating: {{ratings.getAvgRating()}}</h3>
  <h3>Average Difference vs Overall: {{ratings.getAvgDifference()}}</h3>
  {{rating_counts|safe}}
  <div class="user_ratings">
    <form method="POST">
      <label for="sort_by">Sort By:</label>
      <select name="sort_by">
        <option value="UserRating" {% if sort == 'UserRating' %} selected {% endif %}>User's Rating</option>
        <option value="AvgUserRating" {% if sort == 'AvgUserRating' %} selected {% endif %}>Average User Rating</option>
        <option value="Difference" {% if sort == 'Difference' %} selected {% endif %}>Difference Between User and Average</option>
      </select>
      <input type="radio" name="ordering" value="desc" {% if order == 'desc' %} checked {% endif %} ></input><label for="ordering">Highest First</label>
      <input type="radio" name="ordering" value="asc" {% if order == 'asc' %} checked {% endif %} ></input><label for="ordering">Lowest First</label>
      <input type="submit" value="Refresh">
    </form>
    <table border=1>
      <tr>
        <th>Film</th>
        <th>Release</th>
        <th>User's Rating</th>
        <th>Average User Rating</th>
        <th>Difference</th>
      </tr>
    {% for row in ratings.getData(sort, order) %}
      <tr>
        <td><a href="/Movie/{{row[0]}}/{{row[1][:4]}}">{{row[0]}}</a></td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}} {% if row[5] < 20 %}*{% endif %}</td>
        <td>{{row[4]}}</td>
      </tr>
    {% endfor %}
    </table>
    <p>(* indicates a low (&lt20) number of reviews in the database)</p>
  </div>
</body>
